---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';

const allBlogPosts = await getCollection('blog');
---

<Layout title="Welcome to my webpage.">
		<ul role="list">
			<li><a href={`/blog`}>my blog</a></li>
		</ul>
</Layout>
