---
import Nav from "../components/astro/Nav.astro";
import Footer from "../components/astro/Footer.astro";
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="theme-color" content="#2e0030" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link
			rel="sitemap"
			type="application/xml"
			title="Sitemap"
			href="/sitemap-index.xml"
		/>
		<title>{title}</title>
	</head>
	<body>
		<Nav
			home={{ name: "Minis.zone", link: "/" }}
			pages={[{ name: "Blog", link: "/blog" }]}
		/>
		<slot />
		<hr />
		<Footer
			socials={[
				{ name: "github", link: "https://github.com/mini-ninja-64" },
				{ name: "fediverse", link: "https://chaos.social/@mini_ninja_64" },
			]}
		/>
	</body>
</html>

<style>
	hr {
		color: white;
		width: 100%;
	}
</style>

<style is:global>
	html {
		box-sizing: border-box;
		color: beige;
		background: #2e0030;
		margin: auto;
		width: 100vw;
		font:
			1rem "Fira Sans",
			sans-serif;
	}
	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}
	html > body {
		display: flex;
		flex-direction: column;
		max-width: 800px;
		padding-left: 1em;
		padding-right: 1em;
		margin: auto;
	}
	.astro-code {
		margin-left: 2px;
		margin-right: 2px;
		border-radius: 5px;
		width: 100%;
		max-width: 100%;
		padding: 10px;
	}
	code {
		color: #e1e4e8;
		border-radius: 5px;
		padding: 4px;
		background-color: #24292e;
	}
	a {
		text-decoration: none;
		color: inherit;
		text-decoration: underline white 0.1em;
		font-weight: bolder;
		transition: all 0.2s ease-in-out;
	}
	a:hover {
		text-shadow: pink 1px 0 10px;
	}
</style>
